{% extends 'base.html' %}

{% block additionalhead %}
  {# Tabulator: for tables#}
  <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>

  {# DateTime picker#}
  <script src="{{ url_for('static', filename='js/tail.datetime-full.min.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tail.datetime-harx-light.min.css')}}">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>

  {# Autocomplete #}
  <script src="https://unpkg.com/js-autocomplete@1.0.4/auto-complete.min.js"></script>
  <link href="https://unpkg.com/js-autocomplete@1.0.4/auto-complete.css" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/utils/autocomplete.js') }}"></script>
{% endblock %}

{% block header %}
  <h1>{% block title %}Réservation{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="panel">
  <!-- Logging Windows -->
  <h3>Réservation en tant qu'encadrant</h3>
  <div class="form-errors">
    {% for field in form%}
      {% for error in form.errors[field.name] %}
        <div class="flash flash-error">
          <strong>Erreur : {{field.label}} :</strong> {{error}}
        </div>
      {% endfor %}
    {% endfor %}
  </div>
  <form
    action="{{ url_for('reservation.register', event_id=event.id, role_id=role_id) }}"
    method="POST"
    enctype="multipart/form-data"
    class="form"
  >
    <div class="dates">
      <div class="controls">
        <div class="datetimepicker" id="datetimepickerstart">
          <label for="collect_date">Date : </label>{{ form.collect_date(onchange="checkDate()") }}
        </div>
        <span id="start_in_past_error" class="date_error flash flash-error">
          La date de réservation est déjà passée
        </span>
      </div>
    </div>

    <div class="controls">
      {{ form.quantity }}
      <input type="text" id="new-type" placeholder="Type...">
      {{ form.add_line(value=0) }}
      <button class="button button-primary" onclick="updateLines(document.getElementById('{{form.add_line.id}}'));">Ajouter</button>
    </div>
    {{ form.update_lines(value=0) }}

    <div id="encadrement">
      <h4>Votre panier</h4>
      {% for line_form in form.line_forms %}
        {% with line = form.lines[loop.index0]%}
          Quantité : {{line.quantity}} |
          Nom : {{line.equipmentType.name}}
          {{line_form.delete(onclick="document.getElementById('update_lines').value = 1")}}
        {% endwith %}
      {% endfor %}
    </div>

    {{ form.hidden_tag() }}
    <div class="controls">
      {{ form.save_all() }}
    </div>
  </form>
</div>
<script>

  function checkDate() {
    const start = document.getElementById("collect_date");
    const start_in_past = document.getElementById("start_in_past_error");
    start_in_past.style.display = "none";
    if(moment(start.value) < new Date()) {
      start_in_past.style.display = "inline";
      start.setCustomValidity("Doit être après la date du jour");
    }
  }
  document.querySelectorAll("input[type=datetime]").forEach(function(input){
    var datepicker = tail.DateTime(input,{
        animate: false,
        weekStart: 1,
        locale: "fr",
        timeStepMinutes: 15,
        timeSeconds: false,
        closeButton: false,
        startOpen: true,
        stayOpen: true,
        position: "#"+input.parentElement.id,
        classNames:"form-tail-datetime default",
    });
  });

  function updateLines(element) {
    let field = document.getElementById('update_lines');
    field.value = 1;
    element.form.submit();
  }

  window.onload = function () {
    const searchInput = document.getElementById('new-type');
    let name;
    setupAutoComplete(
      searchInput,
      '{{url_for("api.find_equipment_types", eid=form.equipment_type_ids()) | safe}}',
      function(item) {
        name = item.name
        if(item.pathImg == undefined) {
          return "<img src='/static/img/icon/ionicon/md-images.svg' style='margin: 0;height: 1.2em; width: 1.2em' class='photo' alt='"+item.name+"'/>"+item.name;
        } else {
          return "<img src='"+item.pathImg+"' style='margin: 0;height: 1.2em; width: 1.2em' class='photo' alt='"+item.name+"'/>"+item.name;
        }
      },
      function(id, val) {
        searchInput.value = name;
        var field = document.getElementById('{{form.add_line.id}}');
        field.value = id;
      }
      );
  }
</script>
{% endblock %}